<!-- Copyright 2017-2018 VMware, Inc. All Rights Reserved. -->
<ng-container *ngIf="resourcesTree | async as tree; else treeLoader">

  <!-- template -->
  <ng-template #recursiveList let-items>
    <ng-template [clrIfExpanded]="true"
                 *ngIf="items.length > 0">
      <clr-tree-node *ngFor="let item of items"
                     class="form-control"
                     [ngSwitch]="item.nodeTypeId">
        <button #btnEl
                class="clr-treenode-link cc-resource"
                (click)="selectResource($event, item)">
          <clr-icon shape="building" *ngSwitchCase="CR_TYPES.dc.dc"></clr-icon>
          <clr-icon shape="folder" *ngSwitchCase="CR_TYPES.folder.dc_folder"></clr-icon>
          <clr-icon shape="folder" *ngSwitchCase="CR_TYPES.folder.comp_res_folder"></clr-icon>
          <clr-icon shape="cluster" *ngSwitchCase="CR_TYPES.cluster.folder_cluster"></clr-icon>
          <clr-icon shape="cluster" *ngSwitchCase="CR_TYPES.cluster.dc_cluster"></clr-icon>
          <clr-icon shape="host" *ngSwitchCase="CR_TYPES.host.cluster_host"></clr-icon>
          <clr-icon shape="host" *ngSwitchCase="CR_TYPES.host.dc_stand_alone"></clr-icon>
          <clr-icon shape="resource-pool" *ngSwitchCase="CR_TYPES.resource_pool.resource_pool"></clr-icon>
          <clr-icon shape="resource-pool" *ngSwitchCase="CR_TYPES.resource_pool.host_resource_pool"></clr-icon>
          <clr-icon shape="resource-pool" *ngSwitchCase="CR_TYPES.resource_pool.cluster_resource_pool"></clr-icon>
          <clr-icon shape="resource-pool" *ngSwitchCase="CR_TYPES.resource_pool.resource_pool_resource_pool"></clr-icon>
          <clr-icon shape="resource-pool" *ngSwitchCase="CR_TYPES.resource_pool.vic_vch_resource_pool"></clr-icon>
          {{ item.text }}
        </button>
        <!-- childs -->
        <ng-template [clrIfExpanded]="true">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item['childrens'] }"></ng-container>
        </ng-template>
      </clr-tree-node>
    </ng-template>
  </ng-template>

  <!-- content -->
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: tree['childrens'] }"></ng-container>

</ng-container>

<!-- loader -->
<ng-template #treeLoader>
  <div class="spinner-wrapper">
    <span class="spinner spinner-sm"></span>
  </div>
</ng-template>
