<!-- Copyright 2017-2018 VMware, Inc. All Rights Reserved. -->
<ng-container *ngIf="resourcesTree | async as tree; else treeLoader">

  <!-- template -->
  <ng-template #recursiveList let-items>
    <ng-template [clrIfExpanded]="true"
                 *ngIf="items.length > 0">
      <clr-tree-node *ngFor="let item of items"
                     class="form-control"
                     [ngSwitch]="item.nodeTypeId">
        <button #btnEl
                class="clr-treenode-link cc-resource"
                (click)="selectResource($event, item)">
          <clr-icon shape="building" *ngSwitchCase="'Datacenter'"></clr-icon>
          <clr-icon shape="folder" *ngSwitchCase="'DcCompResFolder'"></clr-icon>
          <clr-icon shape="folder" *ngSwitchCase="'CompResFolderCompResFolder'"></clr-icon>
          <clr-icon shape="cluster" *ngSwitchCase="'CompResFolderCluster'"></clr-icon>
          <clr-icon shape="cluster" *ngSwitchCase="'DcCluster'"></clr-icon>
          <clr-icon shape="host" *ngSwitchCase="'ClusterHostSystem'"></clr-icon>
          <clr-icon shape="host" *ngSwitchCase="'DcStandaloneHost'"></clr-icon>
          <clr-icon shape="resource-pool" *ngSwitchCase="'StandaloneHostResPool'"></clr-icon>
          {{ item.text }}
        </button>
        <!-- childs -->
        <ng-template [clrIfExpanded]="true">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item['childrens'] }"></ng-container>
        </ng-template>
      </clr-tree-node>
    </ng-template>
  </ng-template>

  <!-- content -->
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: tree['childrens'] }"></ng-container>

</ng-container>

<!-- loader -->
<ng-template #treeLoader>
  <div class="spinner-wrapper">
    <span class="spinner spinner-sm"></span>
  </div>
</ng-template>
